*{
    margin: 0;
    padding:0;

}
h1{
    padding-top:15px;
    text-align: center;
    color:aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3,h4{
    text-align: center;
    color:aliceblue;
    padding: 1px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.main{

    background-color:#243e6a;
}
div.heading{
    padding:45px;
    text-align:center;

}
a{
    
color: aliceblue;
    text-decoration: none;
    font-size:20px;
    padding: 15px;
    font-family:'Times New Roman', Times, serif;
}
